SHELL=/bin/bash
DJANGO_SETTINGS_MODULE=pari.settings.production

*/10 * * * * {{ ansible_user_id }} /usr/bin/redis-cli flushdb
*/5  * * * * {{ ansible_user_id }} source {{ base_path }}/pari_env/bin/activate && cd {{ base_path }}/pari && python manage.py publish_scheduled_pages
