SHELL=/bin/bash
DJANGO_SETTINGS_MODULE=pari.settings.production

*/10 * * * * {{ ansible_user_id }} /usr/bin/redis-cli flushdb
*/5  * * * * {{ ansible_user_id }} {{ base_path }}/scripts/publish_scheduled_pages.sh
5   12 * * * {{ ansible_user_id }} {{ base_path }}/scripts/db_backup.sh
